<!DOCTYPE HTML>
<html>
	<h1>Show page.</h1>
	<head>
		
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
		<script>
			window.onload = function () {
			
				//---------- TWITTER CHART -------------
				var newScore = 0;
				var T_maxTweets 				 = <%= twitterData.maxTweets %>
	    	var T_neutralCount 			 = <%= twitterData.neutralCount %>
	    	var T_positiveTweetCount = <%= twitterData.positiveTweetCount%>
	    	var T_negativeTweetCount = <%= twitterData.negativeTweetCount %>
					
				var twitterChart = new CanvasJS.Chart("chartContainer", {
					exportEnabled: true,
					animationEnabled: true,
					title:{
						text: "Public View Analysis: Twitter"
					},
					legend:{
						cursor: "pointer",
						itemclick: explodePie
					},
					data: [{
						type: "pie",
						showInLegend: true,
						toolTipContent: "{name}: <strong>{y}%</strong>",
						indexLabel: "{name} - {y}%",
						dataPoints: [
							{ y: (T_positiveTweetCount * 100)/T_maxTweets , name: "Positive", exploded: true },
							{ y: (T_negativeTweetCount * 100)/T_maxTweets , name: "Negative" },
							{ y: (T_neutralCount * 100)/T_maxTweets , 	  name: "Neutral" },
						]
					}]
				});
				twitterChart.render();
				
				// --------PUSHER START- TWITTER ----------
				var pusher = new Pusher('b32865fd7b263aa0ec0f', {
		      cluster: 'ap2',
		      encrypted: true
		    });
				var channel = pusher.subscribe('my-channel');
		    channel.bind('my-event', function(data) {
		    	newScore = data.score;
		    	console.log("GOT NEW SCORE: "+data.score);
		    	
		    	//UPDATE VALUES
		    	//increase total tweet count
					T_maxTweets += 1;
					console.log("Max Tweets: "+T_maxTweets);
					//update other counts
					if(newScore == 0){
						T_neutralCount += 1;
					} else if(newScore > 0) {
						T_positiveTweetCount += 1;
					} else {
						T_negativeTweetCount += 1;
					}
					
					//update chart
					twitterChart.options.data[0].dataPoints[0].y = (T_positiveTweetCount * 100)/T_maxTweets; 
					twitterChart.options.data[0].dataPoints[1].y = (T_negativeTweetCount * 100)/T_maxTweets; 
					twitterChart.options.data[0].dataPoints[2].y = (T_neutralCount * 100)/T_maxTweets;
					twitterChart.render();
		    });
		    //------------ PUSHER END-TWITTER ------------
		    
		    //---------------------REDDIT CHART------------------------
		    var R_maxPosts				  = <%= redditData.maxPosts * 2 %>
	    	var R_neutralPostCount 	= <%= redditData.neutralPostCount %>
	    	var R_positivePostCount = <%= redditData.positivePostCount%>
	    	var R_negativePostCount = <%= redditData.negativePostCount %>
	    	
		    var redditChart = new CanvasJS.Chart("chartContainerReddit", {
					exportEnabled: true,
					animationEnabled: true,
					title:{
						text: "Public View Analysis: Reddit"
					},
					legend:{
						cursor: "pointer",
						itemclick: explodePie
					},
					data: [{
						type: "pie",
						showInLegend: true,
						toolTipContent: "{name}: <strong>{y}%</strong>",
						indexLabel: "{name} - {y}%",
						dataPoints: [
							{ y: (R_positivePostCount * 100)/R_maxPosts , name: "Positive", exploded: true },
							{ y: (R_negativePostCount * 100)/R_maxPosts , name: "Negative" },
							{ y: (R_neutralPostCount  * 100)/R_maxPosts , name: "Neutral" },
						]
					}]
				});
				redditChart.render();
			}
			
			function explodePie (e) {
				if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
					e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
				} else {
					e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
				}
				e.chart.render();
			}
		</script>
		
	</head>
	
	
	
	
	<body>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		<div id="chartContainerReddit" style="height: 300px; width: 100%;"></div>
		
		<!--TWITTER SCORES-->
		<p>TWITTER SCORES</p>
		<p>Total Score: 	 <%=twitterData.totalScore%></p>
		<p>Positive Score: <%=twitterData.positiveScore%></p>
		<p>Negative Score: <%=twitterData.negativeScore%></p>
		
		<!--REDDIT SCORE-->
		<p>REDDIT SCORE</p>
		<p>Total Score: 	 <%=redditData.totalScore%></p>
		<p>Positive Score: <%=redditData.positiveScore%></p>
		<p>Negative Score: <%=redditData.negativeScore%></p>
		
		
		<!--SHOW WIKI TEXT-->
		<p>WIKIPEDIA INFO</p>
		<p><%=wikiData.wikiText%></p>
		<hr>
		
		<!--SHOW REDDIT POSTS-->
		<p>REDDIT POSTS</p>
		<hr>
		<p>----RELEVENCE----</p>
		<% for(var i=0; i<redditData.rr_PostsArray.length; i++){ %>
			<hr>
			Sentiment Score: <%=redditData.rr_PostsArray[i].sentimentScore%> <br>
			Reddit Score:    <%=redditData.rr_PostsArray[i].redditScore%> 	 <br>
			RR Post[<%=i%>]: <%=redditData.rr_PostsArray[i].title%>
		<% } %>
		<hr>
		<p>----NEW----</p>
		<% for(var i=0; i<redditData.rn_PostsArray.length; i++){ %>
			<hr>
			Sentiment Score: <%=redditData.rn_PostsArray[i].sentimentScore%> <br>
			Reddit Score:    <%=redditData.rn_PostsArray[i].redditScore%>    <br>
			RN Post[<%=i%>]: <%=redditData.rn_PostsArray[i].title%>
		<% } %>
		
		
		<!--SHOW GOOGLE ACTIVITIES-->
		<hr>
		<p>GOOGLE ACTIVITIES</p>
		<hr>
		<% for(var i=0; i<googleData.g_ActivitiesArray.length; i++){ %>
			Sentiment Score: <%=googleData.g_ActivitiesArray[i].sentimentScore%> <br>
			g_Activity[<%=i%>]: <%=googleData.g_ActivitiesArray[i].title%>
			<hr>
		<% } %>
		
		
		
		
		<!--SHOW STATIC TWEETS-->
		<p>TWEETS</p>
		<% for(var i=0; i<twitterData.tweetsArray.length; i++){ %>
			<hr>
			<p>Tweet[<%=i%>]: <%=twitterData.tweetsArray[i].text%></p>
		<% } %>
		
		
		<!--SHOW DYNAMIC TWEETS-->
		<div id="streamTweetsDiv">
				<!--streamed tweets will be displayed here-->
		</div>
		
		
		<a href="/">Go to Home Page.</a>
		
		
		
		<!--<script src="https://js.pusher.com/4.2/pusher.min.js"></script>-->
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		
		
		<!--PUSHER-TWITTER(live-stream)-->
		<script>
	    // Pusher.logToConsole = true; // Enable pusher logging - don't include this in production
	    var streamTweetCount = 0;
	    var pusher = new Pusher('b32865fd7b263aa0ec0f', {
	      cluster: 'ap2',
	      encrypted: true
	    });
	
	    var channel = pusher.subscribe('my-channel');
	    channel.bind('my-event', function(data) {
	    	streamTweetCount++;
	      var div = document.getElementById("streamTweetsDiv");
				div.innerHTML += 'Streamed Tweet['+streamTweetCount+']: <br>';
				div.innerHTML += 'Score: '+data.score+'<br>';
				div.innerHTML += data.tweet.text+'<hr>';
				
	    });
	  </script>
		
	</body>
</html>