<!DOCTYPE HTML>
<html>
	<h1>Show page.</h1>
	<head>
		
		<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
		<script>
			window.onload = function () {
			var chart = new CanvasJS.Chart("chartContainer", {
				exportEnabled: true,
				animationEnabled: true,
				title:{
					text: "Public View Analysis: "
				},
				legend:{
					cursor: "pointer",
					itemclick: explodePie
				},
				data: [{
					type: "pie",
					showInLegend: true,
					toolTipContent: "{name}: <strong>{y}%</strong>",
					indexLabel: "{name} - {y}%",
					dataPoints: [
						{ y: <%= (twitterData.positiveTweetCount * 100)/twitterData.maxTweets %>, name: "Positive", exploded: true },
						{ y: <%= (twitterData.negativeTweetCount * 100)/twitterData.maxTweets %>, name: "Negative" },
						{ y: <%= (twitterData.neutralCount * 100)/twitterData.maxTweets %>, 	  name: "Neutral" },
					]
				}]
			});
			chart.render();
			}
			
			function explodePie (e) {
				if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
					e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
				} else {
					e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
				}
				e.chart.render();
			
			}
		</script>
		
	</head>
	
	
	
	
	<body>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		
		<!--TWITTER SCORES-->
		<p>TWITTER SCORES</p>
		<p>Total Score: <%=twitterData.totalScore%></p>
		<p>Positive Score: <%=twitterData.positiveScore%></p>
		<p>Negative Score: <%=twitterData.negativeScore%></p>
		
		<!--REDDIT SCORE-->
		<p>REDDIT SCORE</p>
		<p>Total Score: <%=redditData.totalScore%></p>
		<p>Positive Score: <%=redditData.positiveScore%></p>
		<p>Negative Score: <%=redditData.negativeScore%></p>
		
		
		<!--SHOW WIKI TEXT-->
		<p>WIKIPEDIA INFO</p>
		<p><%=wikiData.wikiText%></p>
		<hr>
		
		<!--SHOW REDDIT POSTS-->
		<p>REDDIT POSTS</p>
		<hr>
		<p>----RELEVENCE----</p>
		<% for(var i=0; i<redditData.rr_PostsArray.length; i++){ %>
			<hr>
			Sentiment Score: <%=redditData.rr_PostsArray[i].sentimentScore%> <br>
			Reddit Score: <%=redditData.rr_PostsArray[i].redditScore%> 			 <br>
			RR Post[<%=i%>]: <%=redditData.rr_PostsArray[i].title%>
		<% } %>
		<hr>
		<p>----NEW----</p>
		<% for(var i=0; i<redditData.rn_PostsArray.length; i++){ %>
			<hr>
			Sentiment Score: <%=redditData.rn_PostsArray[i].sentimentScore%> <br>
			Reddit Score: <%=redditData.rn_PostsArray[i].redditScore%>       <br>
			RN Post[<%=i%>]: <%=redditData.rn_PostsArray[i].title%>
		<% } %>
		
		
		<!--SHOW TWEETS-->
		<p>TWEETS</p>
		<% for(var i=0; i<twitterData.tweetsArray.length; i++){ %>
			<hr>
			<p>Tweet[<%=i%>]: <%=twitterData.tweetsArray[i].text%></p>
		<% } %>
		
		
		<div id="streamTweetsDiv">
				<!--streamed tweets will be displayed here-->
		</div>
		
		
		<a href="/">Go to Home Page.</a>
		
		
		
		<!--<script src="https://js.pusher.com/4.2/pusher.min.js"></script>-->
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		
		
		<script>
	    // Enable pusher logging - don't include this in production
	    Pusher.logToConsole = true;
	    var streamTweetCount = 0;
	    var pusher = new Pusher('b32865fd7b263aa0ec0f', {
	      cluster: 'ap2',
	      encrypted: true
	    });
	
	    var channel = pusher.subscribe('my-channel');
	    channel.bind('my-event', function(data) {
	    	streamTweetCount++;
	      var div = document.getElementById("streamTweetsDiv");
				div.innerHTML += 'Streamed Tweet['+streamTweetCount+']: <br>';
				div.innerHTML += data.tweet.text+'<hr>';
	    });
	  </script>
		
	</body>
</html>