<!DOCTYPE HTML>
<html>
	<h1>Show page.</h1>
	<head>
		<script>
		window.onload = function () {
		var chart = new CanvasJS.Chart("chartContainer", {
			exportEnabled: true,
			animationEnabled: true,
			title:{
				text: "Public View Analysis: "
			},
			legend:{
				cursor: "pointer",
				itemclick: explodePie
			},
			data: [{
				type: "pie",
				showInLegend: true,
				toolTipContent: "{name}: <strong>{y}%</strong>",
				indexLabel: "{name} - {y}%",
				dataPoints: [
					{ y: <%= (scoreData.positiveTweetCount * 100)/scoreData.maxTweets %>, name: "Positive", exploded: true },
					{ y: <%= (scoreData.negativeTweetCount * 100)/scoreData.maxTweets %>, name: "Negative" },
					{ y: <%= (scoreData.neutralCount * 100)/scoreData.maxTweets %>, 	  name: "Neutral" },
				]
			}]
		});
		chart.render();
		}
		
		function explodePie (e) {
			if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
			} else {
				e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
			}
			e.chart.render();
		
		}
		</script>
		
	</head>
	<body>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
		
		<p>Total Score: <%=scoreData.totalScore%></p>
		<p>Positive Score: <%=scoreData.positiveScore%></p>
		<p>Negative Score: <%=scoreData.negativeScore%></p>
		
		<p><%=scoreData.wikiText%></p>
		
		
		<a href="/">Go to Home Page.</a>
		
		
		
		<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
		<!--<script type="text/javascript" src="main.js"></script>-->
	</body>
</html>